# ignore everything
*

# allow project dirs
!algorithms/
!algorithms/**/*.py
!core/
!core/**/*.py
!entities/
!entities/**/*.py
!simulation/
!simulation/**/*.py
!loggers/
!loggers/**/*.py
!rendering/
!rendering/**/*.py

# allow root files
!.python-version
!main.py
!README.md
!uv.lock
!pyproject.toml

# allow static files
!ue.png
!ue.svg
!bs.png
!bs.svg
!handover-env.png
